body{
    padding:0;
    margin:0;
    background-color:LemonChiffon;

}
header{
    display: block;
    width:100%;
    height: 60px;
    background-color:yellow;


}
.Logo{
    display: inline-block;
    width: 20%;
    height: 40px;
    float: left;
    font: 20pt Snell Roundhand, cursive;
    margin: 0 0 0 5px;
    border: 10px solid yellow;
}
.username{
    display: inline-block;
    float: right;
    height: 24px;
    width: 24%;
    font: 12pt Snell Roundhand, cursive;
    background-color: white;
    text-align: center;
    border: 18px solid yellow;
    border-radius: 25px;
}
.new_post{
    position: absolute;
    background-color: yellow;
    height: 60px;
    left: 45%;
    width: 23%;
    font: 16pt Snell Roundhand, cursive;
    text-align: center;
    color: black;
    cursor: pointer;
    border-radius: 25px;
}
.new_post:hover{
    color: yellow;
    background-color: black;
}
.main_filtration{
    position: relative;
    display: inline-block;
    height: 400px;
    width: 35%;
    background-color: black;
    float: left;
    margin: 10px 0 0 10px;
    border-radius: 25px;

}
.filtration{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 10%;
    background-color: black;
    float: left;
    color: yellow;
    text-align: center;
    font: 15pt Snell Roundhand, cursive;
    border-radius: 25px;
}
.input_login{
    position: absolute;
    top: 15%;
    display: block;
    float: left;
    width: 30%;
    height: 10%;
    background-color: black;
    color: yellow;
    font: 13pt Snell Roundhand, cursive;
    text-align: center;


}
.inputLogin{
    position: absolute;
    width: 50%;
    left: 40%;
    top: 15%;
}
.input_data{
    position: absolute;
    top: 35%;
    display: block;
    float: left;
    width: 30%;
    height: 10%;
    background-color: black;
    color: yellow;
    font: 13pt Snell Roundhand, cursive;
    text-align: center;
}
.inputData1{
    position: absolute;
    top: 35%;
    width: 9%;
    left: 40%;
}
.inputData2{
    position: absolute;
    top: 35%;
    width: 9%;
    left: 55%;
}
.inputData3{
    position: absolute;
    top: 35%;
    width: 20%;
    left: 70%;
}
.input_tag{
    position: absolute;
    top: 50%;
    width: 30%;
    display: block;
    float: left;
    background-color: black;
    color: yellow;
    font: 13pt Snell Roundhand, cursive;
    text-align: center;
}
.special_symbol{
    position: absolute;
    top: 50%;
    left: 31%;
    width: 5%;
    display: block;
    background-color: black;
    color: yellow;
    font: 13pt Snell Roundhand, cursive;
    text-align: center;
}
.inputTag{
    position: absolute;
    top: 50%;
    left: 40%;
    width: 30%
}
.buttonAdd{
    background-color: yellow;
    font: 8pt Snell Roundhand, cursive;
    text-align: center;
    color: black;
    top: 50%;
    left: 75%;
    width: 16%;
    display: block;
    position: absolute;
    cursor: pointer;
    border-radius: 25px;
}
.buttonAdd:hover{
    background-color: black;
    color:yellow;
}
.tags_list{
    position: absolute;
    top: 60%;
    display: block;
    background-color: white;
    height: 35%;
    width: 86%;
    margin: 0 0 0 5%;
    color: blue;
    overflow:auto;
}
.posts{
    width: 60%;
    height: 1400px;
    display: inline-block;
    background-color: LemonChiffon;
    overflow: auto;
    margin: 0 0 0 2%;
}
.post{
    margin: 10px 0 0 1px;
    display: inline-block;
    height: fit-content;
    width: 99%;
    background-color: white;
    border-radius: 40px;
}
.postWithoutPhoto{
    margin: 10px 0 0 1px;
    display: inline-block;
    height: fit-content;
    background-color: white;
    border-radius: 40px;
    width: 99%;
}
.postHeader{
    display: inline-block;
    width: 25%;
    height: 5%;
    margin: 1px 0 0 1px;
    float: left;
    font-size: 20px;
    text-align: center;
}
.photo{
    display: inline-block;
    width: 99%;
    height:300px;
    margin: 3px 1px 1px 1px;
    background-color:black;
    color:yellow;
}
.tags{
    display: block;
    width: 99%;
    height: fit-content;
    margin: 10px 0 0 1px;
    font-size: 20px;
    overflow: auto;
    color: blue;
}
.unique_text{
    display: block;
    width: 99%;
    height: fit-content;
    max-height:35%;
    overflow: auto;
    font: 16pt Snell Roundhand, cursive;
    margin: 0 0 0 5px;
}
.like{
    width: 10%;
    height: 3%;
    color: black;
    font-size: 15px;
    text-align:center;
    margin: 0 0 0 25px;
    background-color: yellow;
}
.like:hover{
    color: yellow;
    cursor: pointer;
    background-color: black;
}
.more_posts{
    width: 100%;
    height: 30px;
    color: black;
    background-color: yellow;
    cursor: pointer;
    font: 15pt Snell Roundhand, cursive;
    text-align: center;
    margin: 10px 0 0 0;
    border-radius: 40px;
}
.more_posts:hover{
    color: yellow;
    background-color: black;
}
.special_footer{
    margin: 20px 0 0 0;
    display: block;
    width: 100%;
    height: auto;
    background-color: aliceblue;
    color: gray;
    text-align: center;
}
.delete{
    width: 20%;
    height: 3%;
    color: black;
    font-size: 15px;
    text-align:center;
    margin: 0 0 0 25px;
    background-color: yellow;
    cursor: pointer;
}
.delete:hover{
    background-color: black;
    color:yellow;
}
.edit{
    width: 20%;
    height: 3%;
    background-color: yellow;
    color: black;
    font-size: 15px;
    text-align:center;
    margin: 0 0 0 25px;
    cursor: pointer;
}
.edit:hover{
    background-color: black;
    color:yellow;
}